name: build-and-push
on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        svc: [api-product, api-customer, api-cart, api-order, api-payment, api-delivery, api-wms, api-review]

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.svc }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/${{ matrix.svc }}:latest
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}/${{ matrix.svc }}:${{ github.sha }}
