name: Build & Push (mall apis)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        svc:
          - api-product
          - api-customer
          - api-cart
          - api-order
          - api-payment
          - api-delivery
          - api-wms
          - api-review

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.svc }}
          file: ./${{ matrix.svc }}/Dockerfile
          push: true
          tags: |
            ghcr.io/yelli6836-alt/project/${{ matrix.svc }}:latest
            ghcr.io/yelli6836-alt/project/${{ matrix.svc }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
